*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    background-color: crimson;
    margin: 0;
    padding: 4rem;
}

a {
    color: white;
}

.sad-face {
    font-size: 10rem;
    margin-bottom: 3rem;
}

.x {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
}

.x svg {
    fill: white;
    width: 3rem;
    height: 3rem;
}

.log {
    cursor: text;
    user-select: text;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    flex-grow: 1;
    background: white;
    color: black;
}